{% extends 'base.html.twig' %}

{% block main %}
  <h1 class="text-info mb-5 mt-4">
    Where the best music happens
  </h1>

  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"
      src="https://www.deezer.com/ru/track/3135556"
      allowfullscreen></iframe>
  </div>
{% endblock %}
